body{
    text-align: center;
}
.btn{
    text-decoration: none;
    color: black;
    margin: auto;
    width: 30%;
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-right: 25px;
}
.btn:hover{
    box-shadow: 5px 5px 5px grey;
}
.vis{
    text-align:left;
}
img{
    background:transparent;
}